cache
error.out
build
build32
local
local32
local64
libs/src
libs/CGAL*
libs/mpfr*
libs/mpir*
libs/boost*
.directory
.DS_Store
callgrind.out.*
*.moc.cpp
*.swp

#From the msvc project
*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.pdb
*.obj
msvc/xtools_wed/xtools_wed/Debug/*
msvc/xtools_wed/xtools_wed/Release/*
msvc/msvc_libs/expat-2.0.1/win32/bin/*
msvc/msvc_libs/expat-2.0.1/win32/tmp/*