/* exe icon */
100 					ICON 		XGrinder_icons.ico
/* Versioning info */
#include <winver.h>

VS_VERSION_INFO		VERSIONINFO
FILEVERSION			1,0,0,1
PRODUCTVERSION		1,0,0,1
FILEOS				VOS__WINDOWS32
FILETYPE			VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",		"Laminar Research"
			VALUE "FileDescription",	"XGrinder"
			VALUE "FileVersion",		"1.0b1"
			VALUE "ProductVersion",		"1.0.0.1"
			VALUE "LegalCopyright",		"Copyright 2008, Laminar Research"
			VALUE "ProductName",		"XGrinder"
		END
	END
END
