/* exe icon */
100 					ICON 		WED.ico

/* core UI resources */
sans.ttf				GUI_RES		sans.ttf

push_buttons.png		GUI_RES		push_buttons.png
check_buttons.png		GUI_RES		check_buttons.png
tabs.png				GUI_RES		tabs.png
splitter_h.png			GUI_RES		splitter_h.png
splitter_v.png			GUI_RES		splitter_v.png
scrollbar_h.png			GUI_RES		scrollbar_h.png
scrollbar_v.png			GUI_RES		scrollbar_v.png
scroll_btn_h.png		GUI_RES		scroll_btn_h.png
scroll_btn_v.png		GUI_RES		scroll_btn_v.png
scrollbar_corner.png	GUI_RES		scrollbar_corner.png

/* app UI elements */
about.png				GUI_RES		about.png
gateway.crt				GUI_RES		gateway.crt
COPYING					GUI_RES		COPYING
colors.png				GUI_RES		colors.png
ui_measurements.txt		GUI_RES		ui_measurements.txt
map_tools.png			GUI_RES		map_tools.png
taxi_sign.png			GUI_RES		taxi_sign.png

/* Start window */
startup_bar.png			GUI_RES		startup_bar.png
startup_btns.png		GUI_RES		startup_btns.png
startup_bkgnd.png		GUI_RES		startup_bkgnd.png

/* control handle artwork */
handle_vertexsharp.png	GUI_RES		handles\handle_vertexsharp.png
handle_cross.png		GUI_RES		handles\handle_cross.png
handle_square.png		GUI_RES		handles\handle_square.png
handle_vertexround.png	GUI_RES		handles\handle_vertexround.png
handle_arrowhead.png	GUI_RES		handles\handle_arrowhead.png
/* handle_arrowhead_lg.png	GUI_RES		handles\handle_arrowhead_lg.png */
handle_rotatehead.png	GUI_RES		handles\handle_rotatehead.png
handle_closeloop.png	GUI_RES		handles\handle_closeloop.png
handle_control.png		GUI_RES		handles\handle_control.png

/* map symbols */
map_heliport.png		GUI_RES		icons\map_heliport.png
map_light.png			GUI_RES		icons\map_light.png
map_rampstart.png		GUI_RES		icons\map_rampstart.png
map_airport.png			GUI_RES		icons\map_airport.png
map_beacon.png			GUI_RES		icons\map_beacon.png
map_helipad.png			GUI_RES		icons\map_helipad.png
map_windsock.png		GUI_RES		icons\map_windsock.png
map_seaport.png			GUI_RES		icons\map_seaport.png
map_taxisign.png		GUI_RES		icons\map_taxisign.png
map_towerview.png		GUI_RES		icons\map_towerview.png
map_servicedest.png		GUI_RES		icons\map_servicedest.png
map_missing_obj.png		GUI_RES		icons\map_missing_obj.png
map_tree.png			GUI_RES		icons\map_tree.png
nav_ndb.png				GUI_RES		icons\nav_ndb.png
nav_vor.png				GUI_RES		icons\nav_vor.png
nav_mark.png			GUI_RES		icons\nav_mark.png
nav_gs.png				GUI_RES		icons\nav_gs.png
navmap_airport.png		GUI_RES		icons\navmap_airport.png
navmap_seaport.png		GUI_RES		icons\navmap_seaport.png

/* table artwork */
eye.png					GUI_RES		tables\eye.png
lock.png				GUI_RES		tables\lock.png
check.png				GUI_RES		tables\check.png
gradient.png			GUI_RES		tables\gradient.png
delete.png				GUI_RES		tables\delete.png
disclose.png			GUI_RES		tables\disclose.png
header.png				GUI_RES		tables\header.png
sider.png				GUI_RES		tables\sider.png
property_bar.png		GUI_RES		tables\property_bar.png
arrows.png				GUI_RES		tables\arrows.png

/* world map */
worldmap.jpg			GUI_RES		worldmap.jpg

/* pavement texes */
dirt.png				GUI_RES		pavement/dirt.png
gravel.png				GUI_RES		pavement/gravel.png
water.png				GUI_RES		pavement/water.png
snow.png				GUI_RES		pavement/snow.png
concrete.png			GUI_RES		pavement/concrete.png
lake.png				GUI_RES		pavement/lake.png
grass.png				GUI_RES		pavement/grass.png
asphalt.png				GUI_RES		pavement/asphalt.png

/* line icons */
line_BDoubleSolidYellow.png		GUI_RES		line_types/line_BDoubleSolidYellow.png
line_RunwayHold.png				GUI_RES		line_types/line_RunwayHold.png
line_BSolidYellow.png			GUI_RES		line_types/line_BSolidYellow.png
line_WideBrokenSingle.png		GUI_RES		line_types/line_WideBrokenSingle.png
line_WideBrokenDouble.png		GUI_RES		line_types/line_WideBrokenDouble.png
line_DoubleSolidYellow.png		GUI_RES		line_types/line_DoubleSolidYellow.png
line_SolidYellow.png			GUI_RES		line_types/line_SolidYellow.png
line_HoldLights.png				GUI_RES		line_types/line_HoldLights.png
line_BoundaryEdge.png			GUI_RES		line_types/line_BoundaryEdge.png
line_BrokenWhite.png			GUI_RES		line_types/line_BrokenWhite.png
line_BrokenYellow.png			GUI_RES		line_types/line_BrokenYellow.png
line_ILSHold.png				GUI_RES		line_types/line_ILSHold.png
line_BWideBrokenDouble.png		GUI_RES		line_types/line_BWideBrokenDouble.png
line_Chequered.png				GUI_RES		line_types/line_Chequered.png
line_TaxiCenter.png				GUI_RES		line_types/line_TaxiCenter.png
line_BILSHold.png				GUI_RES		line_types/line_BILSHold.png
line_HoldShortCenter.png		GUI_RES		line_types/line_HoldShortCenter.png
line_HoldLightsPulse.png		GUI_RES		line_types/line_HoldLightsPulse.png
line_OtherHold.png				GUI_RES		line_types/line_OtherHold.png
line_TaxiEdge.png				GUI_RES		line_types/line_TaxiEdge.png
line_ILSCriticalCenter.png		GUI_RES		line_types/line_ILSCriticalCenter.png
line_BBrokenYellow.png			GUI_RES		line_types/line_BBrokenYellow.png
line_SolidWhite.png				GUI_RES		line_types/line_SolidWhite.png
line_BRunwayHold.png			GUI_RES		line_types/line_BRunwayHold.png
line_BOtherHold.png				GUI_RES		line_types/line_BOtherHold.png
line_BWideBrokenSingle.png		GUI_RES		line_types/line_BWideBrokenSingle.png
line_BILSCriticalCenter.png		GUI_RES		line_types/line_BILSCriticalCenter.png
line_Unknown.png			GUI_RES		line_types/line_Unknown.png
line_SolidRed.png			GUI_RES		line_types/line_SolidRed.png
line_BSolidRed.png			GUI_RES		line_types/line_BSolidRed.png
line_BrokenRed.png			GUI_RES		line_types/line_BrokenRed.png
line_BBrokenRed.png			GUI_RES		line_types/line_BBrokenRed.png
line_SolidOrange.png			GUI_RES		line_types/line_SolidOrange.png
line_BSolidOrange.png			GUI_RES		line_types/line_BSolidOrange.png
line_SolidGreen.png			GUI_RES		line_types/line_SolidGreen.png
line_BSolidGreen.png			GUI_RES		line_types/line_BSolidGreen.png
line_SolidBlue.png			GUI_RES		line_types/line_SolidBlue.png
line_BSolidBlue.png			GUI_RES		line_types/line_BSolidBlue.png
line_SolidYellowW.png			GUI_RES		line_types/line_SolidYellowW.png
line_BSolidYellowW.png			GUI_RES		line_types/line_BSolidYellowW.png
line_ILSCriticalCenterW.png		GUI_RES		line_types/line_ILSCriticalCenterW.png
line_BILSCriticalCenterW.png		GUI_RES		line_types/line_BILSCriticalCenterW.png
line_TaxiCenterUni.png			GUI_RES		line_types/line_TaxiCenterUni.png
line_HoldShortCenterUni.png		GUI_RES		line_types/line_HoldShortCenterUni.png
line_BSolidWhite.png			GUI_RES		line_types/line_BSolidWhite.png

/* parking spots*/
ClassA.png						GUI_RES		parking_spots/ClassA.png
ClassB.png						GUI_RES		parking_spots/ClassB.png
ClassC.png						GUI_RES		parking_spots/ClassC.png
ClassD.png						GUI_RES		parking_spots/ClassD.png
ClassE.png						GUI_RES		parking_spots/ClassE.png
ClassF.png						GUI_RES		parking_spots/ClassF.png

/* Versioning info */
#include "..\WEDCore\WED_Version.h"
#include <winver.h>

VS_VERSION_INFO		VERSIONINFO
FILEVERSION			WED_VERSION_BIN
PRODUCTVERSION		WED_VERSION_BIN
FILEOS				VOS__WINDOWS32
FILETYPE			VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",		"Laminar Research"
			VALUE "FileDescription",	"X-Plane Scenery Editor"
			VALUE "FileVersion",		WED_VERSION_RES
			VALUE "ProductVersion",		WED_VERSION_RES
			VALUE "LegalCopyright",		"Copyright 2009, Laminar Research"
			VALUE "ProductName",		"WED"
		END
	END
END
