<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WED</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0a1 Copyright 2007, Laminar Research</string>
	<key>CFBundleIconFile</key>
	<string>WED.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.laminar_research.WED</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WED 1.0a1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0a1</string>
	<key>CFBundleVersion</key>
	<string>398</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
</dict>
</plist>
